In [1]:
import pandas

In [2]:
extent_file = "base_area_stats/gmw_mjr_v314_national_stats.feather"
chngs_file = "base_area_stats/gmw_v314_chng_f1996_national_stats.feather"

In [3]:
extent_stats_df = pandas.read_feather(extent_file)
chng_stats_df = pandas.read_feather(chngs_file)

In [4]:
chng_stats_df

,index,region,name,2007_count_gain,2008_count_gain,2009_count_gain,2010_count_gain,2015_count_gain,2016_count_gain,2017_count_gain,...,2007_area_loss,2008_area_loss,2009_area_loss,2010_area_loss,2015_area_loss,2016_area_loss,2017_area_loss,2018_area_loss,2019_area_loss,2020_area_loss
0,3,ASM,American Samoa,0,0,0,0,0,0,0,...,0.176841,0.353676,0.589463,0.530516,0.235782,0.235782,0.235782,0.235782,0.412615,0.707347
1,5,AGO,Angola,4010,6234,6448,6320,6666,6201,6901,...,693.111174,1017.925008,988.686395,1011.974354,1100.419826,1378.072140,1405.757316,1647.659620,1561.672656,1673.800920
2,6,AIA,Anguilla,2,2,5,12,17,14,10,...,1.329983,1.503453,1.503487,1.098708,0.462608,0.404780,0.404769,0.925192,1.098694,0.983038
3,8,ATG,Antigua and Barbuda,155,447,567,890,751,805,893,...,79.244790,98.165760,95.671844,70.723375,58.244956,41.771401,36.669977,37.657867,46.129917,60.466467
4,11,ABW,Aruba,8,8,9,10,13,13,13,...,9.323234,12.886245,13.598842,13.301919,12.054890,12.054890,12.054890,14.667765,14.667765,12.411198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,238,VUT,Vanuatu,197,385,632,602,673,491,663,...,3.967017,13.000242,15.502847,18.833635,20.934416,22.158861,21.519879,14.647311,22.585462,89.208577
108,240,VEN,Venezuela,95521,125228,132513,135691,156384,166752,179785,...,7054.475132,10110.714418,10681.830337,11061.752777,11948.295799,12713.832967,12561.191029,12362.434302,12436.327816,13061.543843
109,241,VNM,Vietnam,75140,108335,117938,118347,141558,147449,159501,...,10760.008123,16352.604912,17365.767777,17831.251803,20449.237045,22423.308168,23256.312384,21344.907276,20743.604034,23453.738788
110,242,VIR,"Virgin Islands, U.S.",143,251,279,325,443,373,403,...,20.748195,28.164795,28.569070,28.452447,24.918644,24.109547,23.066300,22.659423,25.036423,30.884314
111,245,YEM,Yemen,1707,2254,2343,2351,2152,2015,1997,...,317.489302,456.631612,455.568624,460.151537,464.688145,495.397727,508.703117,526.056190,522.591037,569.968566

# Remove the columns with the pixel counts so just the area columns are left

In [5]:
cols = extent_stats_df.columns
cols_rm = list()
cols_area = list()
for col in cols:
    if "count" in col:
        cols_rm.append(col)
    elif ("area" in col):
        cols_area.append(col)
print(cols_rm)
print(cols_area)

extent_stats_df = extent_stats_df.drop(columns=cols_rm)


cols = chng_stats_df.columns
cols_rm = list()
cols_area = list()
for col in cols:
    if "count" in col:
        cols_rm.append(col)
    elif ("area" in col):
        cols_area.append(col)
print(cols_rm)
print(cols_area)

chng_stats_df = chng_stats_df.drop(columns=cols_rm)

['1996_count', '2007_count', '2008_count', '2009_count', '2010_count', '2015_count', '2016_count', '2017_count', '2018_count', '2019_count', '2020_count']
['1996_area', '2007_area', '2008_area', '2009_area', '2010_area', '2015_area', '2016_area', '2017_area', '2018_area', '2019_area', '2020_area']
['2007_count_gain', '2008_count_gain', '2009_count_gain', '2010_count_gain', '2015_count_gain', '2016_count_gain', '2017_count_gain', '2018_count_gain', '2019_count_gain', '2020_count_gain', '2007_count_loss', '2008_count_loss', '2009_count_loss', '2010_count_loss', '2015_count_loss', '2016_count_loss', '2017_count_loss', '2018_count_loss', '2019_count_loss', '2020_count_loss']
['2007_area_gain', '2008_area_gain', '2009_area_gain', '2010_area_gain', '2015_area_gain', '2016_area_gain', '2017_area_gain', '2018_area_gain', '2019_area_gain', '2020_area_gain', '2007_area_loss', '2008_area_loss', '2009_area_loss', '2010_area_loss', '2015_area_loss', '2016_area_loss', '2017_area_loss', '2018_area_loss', '2019_area_loss', '2020_area_loss']

In [6]:
chng_stats_df

,index,region,name,2007_area_gain,2008_area_gain,2009_area_gain,2010_area_gain,2015_area_gain,2016_area_gain,2017_area_gain,...,2007_area_loss,2008_area_loss,2009_area_loss,2010_area_loss,2015_area_loss,2016_area_loss,2017_area_loss,2018_area_loss,2019_area_loss,2020_area_loss
0,3,ASM,American Samoa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.176841,0.353676,0.589463,0.530516,0.235782,0.235782,0.235782,0.235782,0.412615,0.707347
1,5,AGO,Angola,241.987221,376.223763,389.151866,381.405267,402.311871,374.268807,416.651038,...,693.111174,1017.925008,988.686395,1011.974354,1100.419826,1378.072140,1405.757316,1647.659620,1561.672656,1673.800920
2,6,AIA,Anguilla,0.115654,0.115654,0.289135,0.693925,0.983061,0.809580,0.578272,...,1.329983,1.503453,1.503487,1.098708,0.462608,0.404780,0.404769,0.925192,1.098694,0.983038
3,8,ATG,Antigua and Barbuda,8.995709,25.945026,32.903677,51.646436,43.581732,46.710877,51.809323,...,79.244790,98.165760,95.671844,70.723375,58.244956,41.771401,36.669977,37.657867,46.129917,60.466467
4,11,ABW,Aruba,0.475057,0.475057,0.534441,0.593826,0.771978,0.771978,0.771978,...,9.323234,12.886245,13.598842,13.301919,12.054890,12.054890,12.054890,14.667765,14.667765,12.411198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,238,VUT,Vanuatu,11.498365,22.466546,36.882159,35.130268,39.277700,28.660924,38.703418,...,3.967017,13.000242,15.502847,18.833635,20.934416,22.158861,21.519879,14.647311,22.585462,89.208577
108,240,VEN,Venezuela,5727.888909,7508.983558,7946.324541,8137.160549,9377.510808,9999.481522,10781.361361,...,7054.475132,10110.714418,10681.830337,11061.752777,11948.295799,12713.832967,12561.191029,12362.434302,12436.327816,13061.543843
109,241,VNM,Vietnam,4421.618002,6348.349527,6905.293414,6946.401809,8364.571056,8727.879242,9445.529118,...,10760.008123,16352.604912,17365.767777,17831.251803,20449.237045,22423.308168,23256.312384,21344.907276,20743.604034,23453.738788
110,242,VIR,"Virgin Islands, U.S.",8.281069,14.535463,16.156415,18.823882,25.665992,21.612921,23.353813,...,20.748195,28.164795,28.569070,28.452447,24.918644,24.109547,23.066300,22.659423,25.036423,30.884314
111,245,YEM,Yemen,100.163976,132.196250,137.429296,137.891267,126.054271,118.025062,116.970337,...,317.489302,456.631612,455.568624,460.151537,464.688145,495.397727,508.703117,526.056190,522.591037,569.968566

# Remove the region and name column and sum the columns to get annual totals

In [8]:
extent_totals_df = extent_stats_df.drop(columns=["region", "name"]).sum(axis=0)
extent_totals_df/100 # divide by 100 for km2

1996_area    152604.235030
2007_area    149134.266307
2008_area    147392.574090
2009_area    147139.762667
2010_area    146583.118063
2015_area    145708.048652
2016_area    145347.511182
2017_area    145584.468693
2018_area    145952.647476
2019_area    146010.773297
2020_area    145690.902792
dtype: float64

# Split the gains and losses into seperate dataframes

In [9]:
chng_totals_df = chng_stats_df.drop(columns=["index", "region", "name"]).sum(axis=0)

gain_cols = ["2007_area_gain", "2008_area_gain", "2009_area_gain", "2010_area_gain", "2015_area_gain", "2016_area_gain", "2017_area_gain", "2018_area_gain", "2019_area_gain", "2020_area_gain"]
loss_cols = ["2007_area_loss", "2008_area_loss", "2009_area_loss", "2010_area_loss", "2015_area_loss", "2016_area_loss", "2017_area_loss", "2018_area_loss", "2019_area_loss", "2020_area_loss"]

chng_loss_totals_df = chng_totals_df.drop(gain_cols)
chng_gain_totals_df = chng_totals_df.drop(loss_cols)

chng_loss_stats_df = chng_stats_df.drop(columns=gain_cols)
chng_gain_stats_df = chng_stats_df.drop(columns=loss_cols)

In [10]:
chng_loss_totals_df/100

2007_area_loss     6095.287744
2008_area_loss     8864.124956
2009_area_loss     9311.441586
2010_area_loss     9831.018519
2015_area_loss    10865.936689
2016_area_loss    11430.928183
2017_area_loss    11474.085161
2018_area_loss    11445.099353
2019_area_loss    11636.450091
2020_area_loss    12039.984239
dtype: float64

In [11]:
chng_gain_totals_df/100

2007_area_gain    2625.319021
2008_area_gain    3652.464017
2009_area_gain    3846.969224
2010_area_gain    3809.901553
2015_area_gain    3969.750312
2016_area_gain    4174.204335
2017_area_gain    4454.318825
2018_area_gain    4793.511799
2019_area_gain    5042.988359
2020_area_gain    5126.652001
dtype: float64

# Define the Ommission and Commissions

In [12]:
mng_om = (100-85.63061873343034)/100
mng_com = (100 - 89.28977298408603)/100

In [13]:
print(f"mng_om = {mng_om}")
print(f"mng_com = {mng_com}")

mng_om = 0.1436938126656966
mng_com = 0.10710227015913971

In [14]:
loss_om = (100-73.77949765590216)/100
loss_com = (100-51.42118863049095)/100

In [15]:
print(f"loss_om = {loss_om}")
print(f"loss_com = {loss_com}")

loss_om = 0.2622050234409784
loss_com = 0.48578811369509045

In [17]:
gain_om = (100-69.97109826589596)/100
gain_com = (100-50.0)/100

In [18]:
print(f"gain_om = {gain_om}")
print(f"gain_com = {gain_com}")

gain_om = 0.3002890173410404
gain_com = 0.5

# Apply to annual totals to see what the numbers are:

In [19]:
extent_totals_corr_df = extent_totals_df + (extent_totals_df * mng_om) - (extent_totals_df * mng_com)
extent_totals_corr_df/100

1996_area    158188.259382
2007_area    154591.319151
2008_area    152785.895730
2009_area    152523.833547
2010_area    151946.820458
2015_area    151039.730908
2016_area    150666.000815
2017_area    150911.628968
2018_area    151293.279980
2019_area    151353.532715
2020_area    151021.957654
dtype: float64

In [20]:
chng_loss_totals_corr_df = chng_loss_totals_df + (chng_loss_totals_df * loss_om) - (chng_loss_totals_df * loss_com)
chng_loss_totals_corr_df/100

2007_area_loss    4732.484474
2008_area_loss    6882.256506
2009_area_loss    7229.560702
2010_area_loss    7632.969018
2015_area_loss    8436.496986
2016_area_loss    8875.165935
2017_area_loss    8908.673743
2018_area_loss    8886.168671
2019_area_loss    9034.736620
2020_area_loss    9348.047356
dtype: float64

In [21]:
chng_gain_totals_corr_df = chng_gain_totals_df  + (chng_gain_totals_df * gain_om) - (chng_gain_totals_df * gain_com)
chng_gain_totals_corr_df/100

2007_area_gain    2101.013980
2008_area_gain    2923.026839
2009_area_gain    3078.687220
2010_area_gain    3049.022370
2015_area_gain    3176.947576
2016_area_gain    3340.569885
2017_area_gain    3564.742435
2018_area_gain    3836.194847
2019_area_gain    4035.848199
2020_area_gain    4102.803292
dtype: float64

# Calculate the net change from the corrected gains and losses

In [22]:
net_chng_vals = dict()

gmw_chng_years = [2007, 2008, 2009, 2010, 2015, 2016, 2017, 2018, 2019, 2020]
for chng_year in gmw_chng_years:
    net_chng_vals[f"{chng_year}_net_chng"] = chng_loss_totals_corr_df[f"{chng_year}_area_loss"] - chng_gain_totals_corr_df[f"{chng_year}_area_gain"]

net_chng_corr_sr = pandas.Series(net_chng_vals)
net_chng_corr_sr/100

2007_net_chng    2631.470495
2008_net_chng    3959.229667
2009_net_chng    4150.873482
2010_net_chng    4583.946649
2015_net_chng    5259.549410
2016_net_chng    5534.596050
2017_net_chng    5343.931308
2018_net_chng    5049.973824
2019_net_chng    4998.888422
2020_net_chng    5245.244064
dtype: float64

# Calculate the Country Extent Corrections

In [23]:
# Make a copy of the extent dataframe
extent_stats_corr_df = extent_stats_df.copy()
# Apply correction to the 1996 layer - Uncomment line below to add this correction to analysis
#extent_stats_corr_df["1996_area"] = extent_stats_df["1996_area"] + (extent_stats_df["1996_area"] * mng_om) - (extent_stats_df["1996_area"] * mng_com)

In [25]:
# Print the global totals - check whether 1996 values look correct
extent_stats_corr_df.drop(columns=["region", "name"]).sum(axis=0)/100

1996_area    152604.235030
2007_area    149134.266307
2008_area    147392.574090
2009_area    147139.762667
2010_area    146583.118063
2015_area    145708.048652
2016_area    145347.511182
2017_area    145584.468693
2018_area    145952.647476
2019_area    146010.773297
2020_area    145690.902792
dtype: float64

# Calculate the Per-country corrected gains and losses

In [26]:
chng_gain_corr_stats_df = chng_gain_stats_df.copy()
chng_gain_corr_stats_df[gain_cols] = chng_gain_corr_stats_df[gain_cols] + (chng_gain_corr_stats_df[gain_cols] * gain_om) - (chng_gain_corr_stats_df[gain_cols] * gain_com)
chng_gain_corr_stats_df

,index,region,name,2007_area_gain,2008_area_gain,2009_area_gain,2010_area_gain,2015_area_gain,2016_area_gain,2017_area_gain,2018_area_gain,2019_area_gain,2020_area_gain
0,3,ASM,American Samoa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,5,AGO,Angola,193.659715,301.087745,311.433964,305.234446,321.965772,299.523215,333.441250,311.800401,326.007115,331.116492
2,6,AIA,Anguilla,0.092557,0.092557,0.231392,0.555340,0.786733,0.647898,0.462785,0.323949,0.185114,0.185114
3,8,ATG,Antigua and Barbuda,7.199167,20.763519,26.332451,41.332076,34.877982,37.382202,41.462432,49.213368,52.832737,55.756484
4,11,ABW,Aruba,0.380183,0.380183,0.427707,0.475232,0.617806,0.617806,0.617806,0.522760,0.522760,0.522760
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,238,VUT,Vanuatu,9.202015,17.979730,29.516386,28.114368,31.433512,22.937022,30.973920,25.387943,29.302023,29.904373
108,240,VEN,Venezuela,4583.966587,6009.357073,6359.356258,6512.080220,7504.718909,8002.475241,8628.205089,9258.221939,9759.076406,9959.985798
109,241,VNM,Vietnam,3538.572326,5080.514404,5526.230481,5559.129078,6694.074351,6984.825902,7559.153216,6994.762978,6785.243935,8937.612504
110,242,VIR,"Virgin Islands, U.S.",6.627249,11.632571,12.929801,15.064546,20.540212,17.296583,18.689800,17.342243,19.941363,20.683567
111,245,YEM,Yemen,80.160130,105.795207,109.983156,110.352866,100.879849,94.454161,93.610076,88.417252,97.787873,93.982595

In [27]:
chng_loss_corr_stats_df = chng_loss_stats_df.copy()
chng_loss_corr_stats_df[loss_cols] = chng_loss_corr_stats_df[loss_cols] + (chng_loss_corr_stats_df[loss_cols] * loss_om) - (chng_loss_corr_stats_df[loss_cols] * loss_com)
chng_loss_corr_stats_df

,index,region,name,2007_area_loss,2008_area_loss,2009_area_loss,2010_area_loss,2015_area_loss,2016_area_loss,2017_area_loss,2018_area_loss,2019_area_loss,2020_area_loss
0,3,ASM,American Samoa,0.137302,0.274600,0.457669,0.411901,0.183065,0.183065,0.183065,0.183065,0.320361,0.549196
1,5,AGO,Angola,538.143236,790.334189,767.632835,785.714000,854.384561,1069.958512,1091.453751,1279.270790,1212.509058,1299.567338
2,6,AIA,Anguilla,1.032621,1.167307,1.167333,0.853056,0.359177,0.314278,0.314270,0.718335,0.853044,0.763248
3,8,ATG,Antigua and Barbuda,61.526995,76.217556,74.281237,54.910824,45.222369,32.432022,28.471190,29.238205,35.816048,46.947187
4,11,ABW,Aruba,7.238716,10.005098,10.558371,10.327835,9.359621,9.359621,9.359621,11.388301,11.388301,9.636264
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,238,VUT,Vanuatu,3.080059,10.093607,12.036673,14.622753,16.253835,17.204515,16.708398,11.372420,17.535734,69.263047
108,240,VEN,Venezuela,5477.213781,7850.129644,8293.553700,8588.531907,9276.858901,9871.234903,9752.721121,9598.403038,9655.775212,10141.203507
109,241,VNM,Vietnam,8354.252256,12696.438972,13483.075753,13844.485422,15877.133433,17409.835634,18056.594193,16572.546946,16105.684941,18209.879392
110,242,VIR,"Virgin Islands, U.S.",16.109250,21.867623,22.181509,22.090961,19.347257,18.719060,17.909065,17.593160,19.438702,23.979103
111,245,YEM,Yemen,246.504062,354.536505,353.711183,357.269434,360.791734,384.635173,394.965702,408.438921,405.748518,442.533233

# Save the gains and losses to an Excel Sheet

In [28]:
chng_gain_corr_stats_df.to_excel("gmw_v314_chng_gain_corrected_testnb.xlsx")
chng_loss_corr_stats_df.to_excel("gmw_v314_chng_loss_corrected_testnb.xlsx")

# Print the global summaries to check they look correct

In [29]:
chng_gain_corr_totals = chng_gain_corr_stats_df.drop(columns=["index", "region", "name"]).sum(axis=0)
chng_gain_corr_totals/100

2007_area_gain    2101.013980
2008_area_gain    2923.026839
2009_area_gain    3078.687220
2010_area_gain    3049.022370
2015_area_gain    3176.947576
2016_area_gain    3340.569885
2017_area_gain    3564.742435
2018_area_gain    3836.194847
2019_area_gain    4035.848199
2020_area_gain    4102.803292
dtype: float64

In [30]:
chng_loss_corr_totals = chng_loss_corr_stats_df.drop(columns=["index", "region", "name"]).sum(axis=0)
chng_loss_corr_totals/100

2007_area_loss    4732.484474
2008_area_loss    6882.256506
2009_area_loss    7229.560702
2010_area_loss    7632.969018
2015_area_loss    8436.496986
2016_area_loss    8875.165935
2017_area_loss    8908.673743
2018_area_loss    8886.168671
2019_area_loss    9034.736620
2020_area_loss    9348.047356
dtype: float64

# Create copies of the dataframes and set the region to be the index so the countries get correctly matched

In [31]:
extent_stats_corr_test_df = extent_stats_corr_df.copy()
extent_stats_corr_test_df = extent_stats_corr_test_df.set_index("region")

chng_gain_corr_stats_test_df = chng_gain_corr_stats_df.copy()
chng_gain_corr_stats_test_df = chng_gain_corr_stats_test_df.set_index("region")
chng_loss_corr_stats_test_df = chng_loss_corr_stats_df.copy()
chng_loss_corr_stats_test_df = chng_loss_corr_stats_test_df.set_index("region")

# Apply change correction to calculate country extent per year

In [32]:
gmw_chng_years = [2007, 2008, 2009, 2010, 2015, 2016, 2017, 2018, 2019, 2020]

for chng_year in gmw_chng_years: 
    extent_stats_corr_test_df[f"{chng_year}_area"] = extent_stats_corr_test_df["1996_area"] - chng_loss_corr_stats_test_df[f"{chng_year}_area_loss"] + chng_gain_corr_stats_test_df[f"{chng_year}_area_gain"]

# Find countries for which the area is NaN as we have no changes for these countries

In [33]:
no_chng_rgns_df = extent_stats_corr_test_df[extent_stats_corr_test_df.isna().any(axis=1)]
no_chng_rgns_df

,name,1996_area,2007_area,2008_area,2009_area,2010_area,2015_area,2016_area,2017_area,2018_area,2019_area,2020_area
region,,,,,,,,,,,,
BMU,Bermuda,20.941199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COK,Cook Islands,3.271538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ATF,French Southern Territories,672.301758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KIR,Kiribati,146.482619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MDV,Maldives,97.344067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MHL,Marshall Islands,32.544645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SXM,Sint Maarten,5.382281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STP,São Tomé and Príncipe,48.385207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TUV,Tuvalu,8.911715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WLF,Wallis and Futuna,29.362414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Replace the NaN values will the 1996 area

In [34]:
for i, row in no_chng_rgns_df.iterrows():
    print(i)
    for chng_year in gmw_chng_years: 
        #print(f"\t{chng_year}")
        extent_stats_corr_test_df.at[i, f"{chng_year}_area"] = extent_stats_corr_test_df.loc[[i]]["1996_area"]

BMU
COK
ATF
KIR
MDV
MHL
SXM
STP
TUV
WLF

In [35]:
extent_stats_corr_test_df

,name,1996_area,2007_area,2008_area,2009_area,2010_area,2015_area,2016_area,2017_area,2018_area,2019_area,2020_area
region,,,,,,,,,,,,
ASM,American Samoa,32.599267,32.461965,32.324667,32.141598,32.187365,32.416202,32.416202,32.416202,32.416202,32.278906,32.050071
AGO,Angola,29325.123955,28980.640435,28835.877511,28868.925084,28844.644401,28792.705166,28554.688658,28567.111454,28357.653566,28438.622013,28356.673109
AIA,Anguilla,4.278923,3.338858,3.204173,3.342982,3.981207,4.706479,4.612542,4.427438,3.884537,3.610993,3.700790
ATG,Antigua and Barbuda,859.980296,805.652469,804.526259,812.031510,846.401548,849.635909,864.930476,872.971538,879.955459,876.996985,868.789592
ABW,Aruba,55.052209,48.193675,45.427293,44.921545,45.199606,46.310394,46.310394,46.310394,44.186668,44.186668,45.938704
...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,Venezuela,284856.099918,283962.852723,283015.327346,282921.902476,282779.648230,283083.959926,282987.340256,283731.583885,284515.918819,284959.401112,284674.882209
VNM,Vietnam,196419.491282,191603.811353,188803.566715,188462.646011,188134.134938,187236.432200,185994.481551,185922.050305,186841.707314,187099.050277,187147.224395
VIR,"Virgin Islands, U.S.",264.879646,255.397645,254.644594,255.627938,257.853231,266.072601,263.457169,265.660381,264.628729,265.382306,261.584110
WLF,Wallis and Futuna,29.362414,29.362414,29.362414,29.362414,29.362414,29.362414,29.362414,29.362414,29.362414,29.362414,29.362414
YEM,Yemen,1899.156310,1732.812377,1650.415011,1655.428282,1652.239742,1639.244425,1608.975298,1597.800684,1579.134640,1591.195665,1550.605671

# Export country extents to Excel sheet.

In [36]:
extent_stats_corr_test_df.to_excel("gmw_v314_country_areas_corrected_base1996_testnb.xlsx")